<div class="card m-3">
  <div class="card-body">
    <div class="card-title">Agregar Nuevo Artículo</div>

    <div *ngIf="showAlert" class="alert" [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'danger'}">
      {{ alertMessage }}
    </div>

    <form [formGroup]="articuloForm" (ngSubmit)="onSubmit()">
      <!-- SKU -->
      <div class="form-group">
        <label for="sku">Sku:</label>
        <input type="text" formControlName="sku" class="form-control" placeholder="Sku">
      </div>

      <!-- Descontinuado -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="descontinuado">
        <label class="form-check-label" for="descontinuado">Descontinuado</label>
      </div>

      <!-- Artículo -->
      <div class="form-group">
        <label for="articulo">Artículo:</label>
        <input type="text" formControlName="articulo" class="form-control" placeholder="Artículo">
      </div>

      <!-- Marca -->
      <div class="form-group">
        <label for="marca">Marca:</label>
        <input type="text" formControlName="marca" class="form-control" placeholder="Marca">
      </div>

      <!-- Modelo -->
      <div class="form-group">
        <label for="modelo">Modelo:</label>
        <input type="text" formControlName="modelo" class="form-control" placeholder="Modelo">
      </div>

      <!-- Departamento -->
      <div class="form-group">
        <label for="departamento">Departamento:</label>
        <select class="form-select" formControlName="departamento">
          <option value="" disabled selected>Seleccione...</option>
          <option *ngFor="let dep of departamentos" [value]="dep.DepartamentoID">{{ dep.Nombre }}</option>
        </select>
      </div>

      <!-- Clase -->
      <div class="form-group">
        <label for="clase">Clase:</label>
        <select class="form-select" formControlName="clase">
          <option value="" disabled selected>Seleccione...</option>
          <option *ngFor="let clase of clases" [value]="clase.ClaseID">{{ clase.Nombre }}</option>
        </select>
      </div>

      <!-- Familia -->
      <div class="form-group">
        <label for="familia">Familia:</label>
        <select class="form-select" formControlName="familia">
          <option value="" disabled selected>Seleccione...</option>
          <option *ngFor="let familia of familias" [value]="familia.FamiliaID">{{ familia.Nombre }}</option>
        </select>
      </div>

      <!-- Stock y Cantidad -->
      <div class="container mt-2">
        <div class="row">
          <div class="form-group col">
            <label for="stock">Stock:</label>
            <input type="number" formControlName="stock" class="form-control" placeholder="Stock">
          </div>
          <div class="form-group col">
            <label for="cantidad">Cantidad:</label>
            <input type="number" formControlName="cantidad" class="form-control" placeholder="Cantidad">
          </div>
        </div>
      </div>

      <!-- Fechas -->
      <div class="container mt-1">
        <div class="row">
          <div class="form-group col">
            <label for="fechaAlta">Fecha Alta:</label>
            <input type="date" formControlName="fechaAlta" class="form-control" placeholder="Fecha Alta">
          </div>
          <div class="form-group col">
            <label for="fechaBaja">Fecha Baja:</label>
            <input type="date" formControlName="fechaBaja" class="form-control" placeholder="Fecha Baja">
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3" [disabled]="articuloForm.invalid">Agregar Artículo</button>
    </form>
  </div>
</div>
