<form [formGroup]="articuloForm" (ngSubmit)="onSubmit()" class="pb-5">
  <div class="alert" *ngIf="showAlert" [ngClass]="alertType === 'success' ? 'alert-success' : 'alert-danger'">
    {{ alertMessage }}
  </div>
  <div class="form-group">
    <label for="sku">SKU:</label>
    <input type="number" id="sku" formControlName="sku" class="form-control" placeholder="SKU" />
  </div>
  <div class="form-group">
    <label for="articulo">Nombre del Artículo:</label>
    <input type="text" id="articulo" formControlName="articulo" class="form-control" placeholder="Nombre del Artículo" />
  </div>
  <div class="form-group">
    <label for="marca">Marca:</label>
    <input type="text" id="marca" formControlName="marca" class="form-control" placeholder="Marca" />
  </div>
  <div class="form-group">
    <label for="modelo">Modelo:</label>
    <input type="text" id="modelo" formControlName="modelo" class="form-control" placeholder="Modelo" />
  </div>
  <div class="form-group">
    <label for="departamento">Departamento:</label>
    <select id="departamento" formControlName="departamento" class="form-select">
      <option *ngFor="let dept of departamentos" [value]="dept.id">{{ dept.nombre }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="clase">Clase:</label>
    <select id="clase" formControlName="clase" class="form-select">
      <option *ngFor="let clase of clases" [value]="clase.id">{{ clase.nombre }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="familia">Familia:</label>
    <select id="familia" formControlName="familia" class="form-select">
      <option *ngFor="let familia of familias" [value]="familia.id">{{ familia.nombre }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="stock">Stock:</label>
    <input type="number" id="stock" formControlName="stock" class="form-control" placeholder="Stock" />
  </div>
  <div class="form-group">
    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" formControlName="cantidad" class="form-control" placeholder="Cantidad" />
  </div>
  <div class="form-group">
    <label for="fechaAlta">Fecha Alta:</label>
    <input type="date" id="fechaAlta" formControlName="fechaAlta" class="form-control" />
  </div>
  <div class="form-group">
    <label for="fechaBaja">Fecha Baja:</label>
    <input type="date" id="fechaBaja" formControlName="fechaBaja" class="form-control" />
  </div>
  <div class="form-group">
    <label for="descontinuado">Descontinuado:</label>
    <input type="checkbox" id="descontinuado" formControlName="descontinuado" />
  </div>
  <button type="submit" class="btn btn-primary">{{ confirmButtonText }}</button> <!-- Botón de confirmación -->
</form>
